{% extends "base.html" %}

{% block title %} 首页 {% endblock title %}


{% block content %}
<div class="col-md-6 column">
  <form role="form-horizontal">
    <div class="form-group">
      <label for="clientIndex" class="col-md-3 control-label">客户端模板路径：</label>
      <input type="text" placeholder="客户端Index" value="H:/xxx/commonIndex" class="form-control" name="clientIndex"
        id="clientIndex">
    </div>
    <div class="form-group">
      <label for="clientPath" class="col-md-3 control-label">公用客户端路径：</label>
      <input type="text" placeholder="客户端路径" class="form-control" name="clientPath" id="clientPath">
    </div>
    <div class="form-group">
      <label for="serverPath" class="col-md-4 control-label">公用服务端路径：</label>
      <input type="text" placeholder="服务端路径" class="form-control" name="serverPath" id="serverPath">
    </div>
    <div class="form-group">
      <label for="destDir" class="col-md-4 control-label">更新包存放路径：</label>
      <input type="text" placeholder="打包后存放目录" value="H:/pack2020" class="form-control" name="destDir" id="destDir">
    </div>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>游戏</th>
        <th>大区</th>
        <th>版本号</th>
        <th>打包日期</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for version in  versions %}
      <tr>
        <td>{{version.id}}</td>
        <td>{{version.project}}</td>
        <td>{{version.zone}}</td>
        <td>{{version.version}}</td>
        <td>{{version.update_time}}</td>
        <!-- <td><a href="/pack/{{version.id}}?serverpath=server&clientpath=client">打包</td> -->
        <td><button value="{{version.id}}" click={{version.id}}>出包</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}


{% comment %} {% endcomment %}
{% block script %}
<script>
  $.ajaxSetup({
    data: {
      csrfmiddlewaretoken: "{{ csrf_token }}"
    }
  });
  $("button").click(function (e) {
    var nid = e.target.value;
    console.log(nid)
    $.post("pack/" + nid + "/", {
      csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
      clientIndex: $.trim($("#clientIndex").val()),
      destDir: $.trim($("#destDir").val()),
      clientPath: $.trim($("#clientPath").val()),
      serverPath: $.trim($("#serverPath").val())
    },
      function (data, status) {
        console.log(data)
      },
      "json"
    );
  });
</script>
{% endblock script %}